/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* Header's CSS code */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 20%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    padding: 0% 10px;
}

nav ul li{
    list-style-type: none;
    padding-top: 7px;
}

nav ul li:hover, nav ul li:active{
    color: #0065FC;
    border-top: solid 3px var(--main-color);
}

header img{
    width: 100px;
}

/* Formulaire de recherche*/

.search-form{
    display: flex;
    margin-top: 35px;
    height: 45px;

}

.search-form input{
    height: 45px;
    background-color: white;
    border: solid #e6e6e6 1px;
    border-radius: 0px;
    padding-left: 15px;
}

.search-form button{
    height: 45px;
    color: white;
    border: solid var(--main-color) 1px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 10px;
    background-color: var(--main-color);
}

.map-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    background-color: #F2F2F2;
    border-top: solid #e6e6e6 1px;
    border-left: solid #e6e6e6 1px;
    border-bottom: solid #e6e6e6 1px;
    border-radius: 15px 0px 0px 15px;
}

.map-icon{
    font-size: 1em;
    text-align: center;
    color: black;
}

.search-icon{
    display: none;
}

/* Filtre de recherche */

    
.filtres-container{
    display: flex;
    font-weight: 600;
    gap: 10px;
    margin: 20px 0px;
    align-items: center;
}

.filtres-container i{
    margin-right: 5px;
}

.filtres-items-container, .filtres-items-container-proche{
    display: flex;
    gap: 15px;
}

.filtres-items-container-proche .filtre-item{
    border: solid #d7d6d6 1px;
    border-radius: 30px;
    padding: 10px;
}

.filtres-items-container-proche span:hover{
    background-color: #DEEBFF;
}

#title{
    font-size: 1.1em;
    margin-top: 40px;
}
/* Info bar CSS code */

.info-bar{
    display: flex;
    align-items: center;
    padding-bottom: 20px;;
}

.info-bar i{
    font-size: 0.8em;;
    margin-right: 8px;
    padding: 6px 10px;
    border-radius: 100%;
    border: #cdcccc solid 1px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Carte contenue dans Hebergements */

.hosting-card{
    background-color: white;
    width: 30%;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
}

.etoile-neutre{
    color: #ebeaea;
}

.hosting-card p, .hosting-card i{
    font-size: 0.9em;
}

.content{
    padding: 0px 10px 10px 10px;
}


.hosting-card img{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.hebergements h2{
    margin-top: 0px;
    font-size: 1.3em;
}
.cards-row-container{
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
    justify-content: space-between;
}

.more{
    font-weight: 500;
    margin: 15px 0px;
}

/* Section des activites */

.activites-section{
    margin: 50px 10px;
}
.activites-cards-container{
    display: flex;
    justify-content: space-between;
}

.activites-card{
    border-radius: 20px;
    width: 23%;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 1px;
}

.activites-card img{
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-card h3{
    margin: 35px 20px;
}

.activites-section h2{
    margin-left: 15px;
}

/* Footer */

footer{
    display: flex;
    padding: 10px 25px;
    background-color: var(--main-bg-color);
}

.colonne{
    width: 33%;
}

footer ul{
    padding-left: 0px;
}

footer ul li{
    list-style-type: none;
    margin: 10px 0px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* Header */

    header{
        width: 100%;
    }

    header img{
        width: 40%;
    }

    header ul li{
        font-size: 0.9em;
    }

    nav{
        width: 35%;
    }

    nav ul{
        display: flex;
    }

    .container{
        margin-top: 30px;
    }

    h1{
        font-size: 1.2em;
    }

    .sous-titre{
        font-size: 0.9em;
    }

    /* Formulaire de recherche */

    .search-form input::placeholder{
        color: black;
        font-size: 1.1em;
        font-weight: 700;
    }

    .map-icon-container{
        width: 6%;
    }

    /* Zone de filtres */

    .filtres-container{
        font-size: 0.9em;
    }

    /* Barre d'info */

    .info-bar i{
        font-size: 0.6em;;
        margin-right: 10px;
        padding: 5px 8px;
        border-radius: 100%;
        border: #cdcccc solid 1px;
    }

    /* Hebergements et populaires */

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hosting-card h3, .hosting-card i, .hosting-card p{
        font-size: 0.8em;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
        padding: 0.3em;
    }

    .card-txt p{
        font-size: 0.1em;
    }

    .populaires-cards p{
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* Section activites */

    .activites-card img{
        height: 200px;
    }

    .activites-card h3{
        font-size: 1em;
        margin: 20px 20px;
    }

    /* Footer */

    .colonne{
        margin-right: 40px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    /* Header*/

    header{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    header .logo-container a{
        display: inline-block;
        width: 100%;
        margin: auto;
    }

    .logo-container{
        display: flex;
        justify-content: center;
    }

    .logo-near-container{
        display: flex;
        justify-content: center;
    }

    nav{
       width: 100%; 
       padding: 0;
    }

    nav ul{
        display: flex;
        padding: 0;
        margin: 35px 0px 10px 0px;
        justify-content: space-between;
    }

    nav ul li{
        text-align: center;
        width: 45%;
        padding: 10px;
        border-bottom: var(--main-bg-color) 2px solid;
    }

    nav ul li:hover, nav ul li:active{
        border-color: var(--main-color)
    }

    /* Formulaire de recherche */

    form{
        
        border: solid #e6e6e6 1px;
        border-radius: 15px;
    }

    .map-icon-container{
        width: 20%;
        border: none;
    }

    .search-form input{
        width: 68%;
        border: none;
    }

    .search-form button{
        width: 20%;
        font-size: 0.8em;
        border: none;
        border-radius: 15px;
    }

    .search-icon{
        display: inline;
        color: white;
    }

    .search-text{
        display: none;
    }

    /* Section de filtres */

    .filtres-container{
        display: flex;
        flex-direction: column;
    }

    .filtres-items-container{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .filtres-items-container-proche{
        display: flex;
        flex-direction: row;

    }

    .filtres-items-container-proche .filtre-item{
        width: 45%;
        display: flex;
        border: #dad9d9c7 solid 2px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* Info bar */

    .info-bar{
        padding: 0px;
    }

    .info-bar p{
        font-size: 0.9em;
    }

    /* Hebergements et populaires */

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;  
        justify-content: space-between;
    }

    .hebergements-and-populaires section{
        border-radius: 0;
        padding: 3 ;
    }


    .hebergements h2{
        font-size: 1em;
    }

    .populaires{
        border-radius: 0px;
        padding: 10em;
    }

    .populaires-title h2{
        font-size: 1em;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .populaires-cards .card, .hosting-card{
        margin: 0;
        width: 100%;
    }

    .cards-row-container{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }

    .first-cards-row-container{
        margin: 10px 0px 0px 0px;
    }

    .second-cards-row-container{
        margin-top: 25px;
    }

    .hebergements{
        background-color: white;
    }

    /* Activites */
    
    .activites-cards-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .activites-card{
        width: 94%;
    }

    .activites-card img{
        height: 130px;
    }

    .activites-section{
        margin-top: 0px;
    }

    /* Footer */

    footer{
        display: flex;
        flex-direction: column;
    }

    footer .colonne{
        width: 100%;
    }
}