/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Header's CSS code */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 20%;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    padding-top: 7px;
}

nav ul li:hover, nav ul li:active{
    color: #0065FC;
    border-top: solid 3px var(--main-color);
}

.header-container img{
    width: 100px;
}

/* Formulaire de recherche*/

.search-form{
    display: flex;

}

.search-form input{
    height: 35px;
    background-color: white;
    border: solid #e6e6e6 1px;
    border-radius: 0px;
    padding-left: 15px;
}

.search-form button{
    height: 35px;
    color: white;
    border: solid var(--main-color) 1px;
    border-radius: 0px 8px 8px 0px;
    padding: 0px 10px;
    background-color: var(--main-color);
}

.map-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2%;
    background-color: #e6e6e6;
    border-top: solid #e6e6e6 1px;
    border-left: solid #e6e6e6 1px;
    border-bottom: solid #e6e6e6 1px;
    border-radius: 8px 0px 0px 8px;
}

.map-icon{
    font-size: 1em;
    text-align: center;
    color: black;
}

.search-icon{
    display: none;
}

/* Filtre de recherche */

    
.filtres-container{
    display: flex;
    font-weight: 500;
    gap: 10px;
    margin: 30px 0px;
    align-items: center;
}

.filtres-container i{
    margin-right: 5px;
}

.filtres-items-container, .filtres-items-container-proche{
    display: flex;
    gap: 15px;
}

.filtres-items-container-proche span{
    border: solid #d7d6d6 1px;
    border-radius: 30px;
    padding: 10px;
}

.filtres-items-container-proche span:hover{
    background-color: #DEEBFF;
}

/* Carte contenue dans Hebergements */

.hosting-card{
    background-color: white;
    width: 240px;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
}



.hosting-card p, .hosting-card i{
    font-size: 0.9em;
}

.content{
    padding: 0px 10px 10px 10px;
}


.hosting-card img{
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.hebergements h2{
    margin-top: 0px;
    font-size: 1.3em;
}
.cards-row-container{
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
    justify-content: space-between;
}

.more{
    font-weight: 500;
}

/* Section des activites */

.activites-section{
    margin: 50px 10px;
}
.activites-cards-container{
    display: flex;
    justify-content: space-between;
}

.activites-card{
    width: 300px;
    border-radius: 20px;
    margin: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 1px;
}

.activites-card img{
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activites-card h3{
    margin: 35px 20px;
}

.activites-section h2{
    margin-left: 15px;
}

/* Footer */

footer{
    display: flex;
    padding: 10px 25px;
    background-color: var(--main-bg-color);
}

.colonne{
    width: 33%;
}

footer ul{
    padding-left: 0px;
}

footer ul li{
    list-style-type: none;
    margin: 10px 0px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}